:plain
  $("#buddy-#{@buddy.id}").fadeOut();
  $("#buddy-#{@buddy.id}").html("Confirmation request sent to #{@buddy.buddy_diver_name}");
  $("#hint-buddy-#{@buddy.id}").html("#{@buddy.state.humanize}");
  $("#buddy-#{@buddy.id}").fadeIn();
  $("#inline-buddy-#{@buddy.id}").fadeOut();
  $("#inline-buddy-#{@buddy.id}").html("#{@buddy.state.humanize}");
  $("#inline-buddy-#{@buddy.id}").fadeIn();