= semantic_form_for(@user) do |f|
  = f.inputs 'Password' do
    = f.input :password, :input_html => { :autocomplete => false}, :label => "New password", :required => false
    = f.input :password_confirmation, :input_html => { :autocomplete => false}, :label => "New password confirmation", :required => false
    = f.commit_button 'Change password'