= render :partial => "dives/fields/summary", :locals => {:dive_f => dive_f, :dive => @dive}
= render :partial => "dives/tec/profile", :locals => {:dive_f => dive_f}
= render :partial => "dives/tec/waypoints", :locals => {:dive_f => dive_f}
= render :partial => "dives/fields/buddies", :locals => {:dive_f => dive_f}
= render :partial => "dives/tec/tanks", :locals => {:dive_f => dive_f}
= render :partial => 'dives/fields/equipment', :locals => {:dive_f => dive_f}
= render :partial => 'dives/fields/conditions', :locals => {:dive_f => dive_f}
= render :partial => 'dives/fields/photos', :locals => {:dive_f => dive_f}
= render :partial => 'dives/fields/notes', :locals => {:dive_f => dive_f}
