= dive_f.inputs "Depth and Time" do
  .row
    .column.grid_2
      = image_tag 'gauges.gif'
      %p{:id => 'profile-off'}= link_to("multi-level dive", "#", :id => "show_profile")
    .column.grid_5
      = dive_f.input :max_depth_amount, :wrapper_html => {:class => 'inline'}, :input_html => {:class => 'mini-text'}, :label => 'Max depth', :hint => spacer
      = dive_f.input :average_depth_amount, :wrapper_html => {:class => 'inline'}, :input_html => {:class => 'mini-text'}, :label => 'Av. depth', :hint => spacer
      = dive_f.input :depth_unit, :as => :select,   :wrapper_html => {:class => 'inline'}, :input_html => {:class => 'mini-text'}, :collection => Depth.units, :include_blank => false, :label => spacer, :required => false, :hint => spacer
      = dive_f.input :total_dive_time, :wrapper_html => {:class => 'inline'}, :input_html => {:class => 'mini-text'}, :label => 'Total dive time', :hint => 'minutes'
  .row
    .column.grid_2 &nbsp;

    = render :partial => 'dives/fields/time_in_time_out', :locals => {:dive_f => dive_f}


