- waypoint_f.object.nested = 'deleted' unless visible
.waypoint{:id => "waypoint_#{index}", :style => ("display:none" unless visible)}
  = waypoint_f.input :nested, :as => :hidden
  = waypoint_f.input :depth_amount,  :label => 'Depth', :wrapper_html => {:class => 'inline'}, :input_html => {:class => 'mini-text'}, :required => false, :hint => spacer
  = waypoint_f.input :depth_unit, :as => :select, :wrapper_html => {:class => 'inline'}, :input_html => {:class => 'mini-text'}, :collection => Depth.units, :include_blank => false, :label => spacer, :required => false, :hint => spacer
  = waypoint_f.input :time,  :wrapper_html => {:class => 'inline'}, :input_html => {:class => 'mini-text'}, :required => false, :hint => 'minutes'
  = waypoint_f.input :duration,  :wrapper_html => {:class => 'inline'}, :required => false, :input_html => {:class => 'mini-text'}, :hint => 'minutes'
  = waypoint_f.input :name,  :wrapper_html => {:class => 'inline'}, :input_html => {:class => 'waypoint_name', :autocomplete => :off}, :required => false, :label => 'Description', :hint => 'e.g. Deep Stop, Gas switch'